.tablero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-aspect-ratio: 1/1) {
  .tablero {
    flex-direction: row;
  }
}

.mano {
  flex-grow: 1;
}
.carta.elegida {
  font-weight: bolder;
}

.mapa {
  --mapa-rot: 45deg;
  transform-style: preserve-3d;
  transform: perspective(200vmin) rotateX(var(--mapa-rot));

  overflow-x: hidden;
  overflow-y: hidden;
  
  flex-grow: 0;
  flex-shrink: 1;
  overflow: scroll;
  scrollbar-width: 0;
  --cant-casilleros: 3;
  margin: 0px;
  padding: 0px;
  --tam-casillero: calc(100vmin / var(--cant-casilleros));
  display: flex;
  flex-direction: column;
}
.mapa * {  
  transform-style: preserve-3d;
}

.fila-casilleros {
  margin: inherit;
  padding: inherit;
  height: var(--tam-casillero);
  display: flex;
  flex-direction: row;
}

.casillero {
  margin: inherit;
  padding: inherit;
  position: relative;
  width: var(--tam-casillero);
  height: var(--tam-casillero);
}
.casillero > img {
  transform: perspective(20vmin) rotateX( calc(-0.5 * var(--mapa-rot)) );

  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}
.casillero > img:first-child {
  transform: rotateX(0);
}
.casillero.brillo::after {
  content:'';
  border: 1vmin solid;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}
.casillero.brillo:hover::after {
  border-color: white;
}
.casillero.brillo.elegida::after {
  border-color: red;
}

#root >div >div {
  display: none;
  margin-bottom: 10px;
}
#root >div >div:first-child {
  display: initial;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}