.mapa {
  --cant-casilleros: 3;
  margin: 0px;
  padding: 0px;
  --tam-casillero: calc(100vmin / var(--cant-casilleros));
  display: flex;
  flex-direction: column;
}

.fila-casilleros {
  margin: inherit;
  padding: inherit;
  height: var(--tam-casillero);
  display: flex;
  flex-direction: row;
}

.casillero {
  margin: inherit;
  padding: inherit;
  position: relative;
  width: var(--tam-casillero);
  height: var(--tam-casillero);
}
.casillero > img {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}
.brillo {
  opacity: 0.5;
}

#root >div >div {
  display: none;
  margin-bottom: 10px;
}
#root >div >div:first-child {
  display: initial;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}