.tablero {
    position: fixed;
    bottom: 0;
    left: 0;

    margin: none;
    padding: none;
    overflow: hidden;
    user-select: none;

    transition: 0.2s max-height;

    background: linear-gradient(315deg, honeydew, powderblue);
    --img-torres: url('');
    --cant-casilleros: 3;
}

.tablero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}
.minimizado .tablero {
    max-height: 10vh;
}
label.minimizar {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.25em 0.5em;
    background: linear-gradient(30deg, cornflowerblue, lavender);
    color: indigo;
    z-index: 1;
}
label.minimizar::after {
    content: 'Minimizar';
}
input:checked+label.minimizar::after {
    content: 'Maximizar';
}

input[type="checkbox"] {
    display: none;
}
.seleccionable {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: opacity-sine 1s infinite;
}
.seleccionable.elegido{    
    animation: none;
    box-shadow: inset 0 0 0.5vmax 1.0vmax blue;
}
.terminado .seleccionable.elegido{    
    animation: none;
    box-shadow: inset 0 0 0.5vmax 1.0vmax cyan;
}

input.listo+label {
    background: linear-gradient(45deg, blue, cyan);
    font-weight: bolder;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}
.terminado input.listo+label {
    background: linear-gradient(45deg, indigo, darkorchid);
}
input.listo:disabled+label {
    /* background: linear-gradient(45deg, blue, cyan); */
    opacity: 0.2;
}
input.listo+label::after {
    content: 'Confirmar';
}
.terminado input.listo+label::after {
    content: 'Cancelar';
}

@keyframes opacity-sine {
    0% { box-shadow: inset 0 0 1.5vmax 0.5vmax darkorchid; }
    50% { box-shadow: inset 0 0 2.5vmax 0.1vmax indigo; }
    100% { box-shadow: inset 0 0 1.5vmax 0.5vmax darkorchid; }
}

@keyframes opacity-sine {
    0% { box-shadow: inset 0 0 1.5vmax 0.5vmax darkorchid; }
    50% { box-shadow: inset 0 0 2.5vmax 0.1vmax indigo; }
    100% { box-shadow: inset 0 0 1.5vmax 0.5vmax darkorchid; }
}

.opciones {
    position: fixed;
    top: 0;
    right: 0;
}

.jugador {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    --tam-carta: 10vmax;
    overflow: hidden;
}

.jugador>div {
    position: relative;
    box-sizing: border-box;
    border: 1px dashed black;
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}

.jugador>.data {
    flex-basis: unset;
    flex-grow: 0;
    overflow: hidden;
}

@media screen and (min-aspect-ratio: 1/1) {
    .tablero {
        flex-direction: row;
    }
    .jugador {
        flex-direction: column;
    }
}

.ubicar .mano {
    display: none;
}
.mano>.carta, .items>.item {
    position: relative;
    width: var(--tam-carta);
    height: var(--tam-carta);
}

.mapa {
    --tam-casillero: calc( 100vmin / var(--cant-casilleros));
    flex-grow: 0;
    flex-shrink: 0;
    scrollbar-width: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

@media screen and (min-aspect-ratio: 90/100) and (max-aspect-ratio: 125/100) {
    .mapa {
        --tam-casillero: calc( 90vmin / var(--cant-casilleros));
    }
}

.mapa .fila {
    height: var(--tam-casillero);
    display: flex;
    flex-direction: row;
}

.territorio {
    position: relative;
    min-width: var(--tam-casillero);
    min-height: var(--tam-casillero);
    background-size: cover;
}

.mapa .feudo {
    position: absolute;
    margin: 6%;
    width: 88%;
    height: 88%;
    display: flex;
    flex-direction: column;
}
.mapa .feudo .recursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    --tam-recurso: calc(var(--tam-casillero) * 0.2);
}
.mapa .feudo .recursos>img {    
    width: var(--tam-recurso);
    height: var(--tam-recurso);
}
.mapa .feudo .torres {
    position: absolute;
    bottom: 4%;
    left: 4%;
    padding: 4%;
    padding-bottom: 8%;
    font-size: 2.5vmin;
    background-image: var(--img-torres);
    background-repeat: round;
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: bolder;
}
.sin-mercado .mercado {
    opacity: 0.5;
}

.ficha {
    width: auto;
    height: auto;
}
.ficha>img, .territorio>img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.mapa .territorio>img {
    margin: 3%;
    width: 94%;
    height: 94%;
    box-sizing: border-box;
    color:black;
    border: 0.5vmax solid;
}
.territorio>img.arr {
    border-top-color: transparent;
}
.territorio>img.der {
    border-right-color: transparent;
}
.territorio>img.aba {
    border-bottom-color: transparent;
}
.territorio>img.izq {
    border-left-color: transparent;
}
.territorio>img.c0 {
    color: cyan;
}
.territorio>img.c1 {
    color: orange;
}
.territorio>img.c2 {
    color: green;
}
